
<html>

<head>
    <p><b>Upcoming events</p></b>
    <link rel="stylesheet" type="text/css" href="eventslist.css">

<style>
head {
    color: black;
    font-family: Georgia;
    font-size: 100%;
}
p  {
    color: black;
    font-family: Helvetica;
    font-size: 160%;
    padding-top: 20px;
    padding-left: 20px;
}
body {
    padding-left: 20px;
  }
img {
    padding-left: 20px;
}
}
</style>
</head>



<body>
<%= @eventName %>
<%= @organisation %>
<%= @date %>
<%= @place %>


<img src="womenintech.jpg" style="width:750px;height:380px;">
  <div id="list2">
    <% @events.map do | event | %>
      <h2><%= event["eventName"] %></h2>
    <% end %>

    <% @events.map do | event | %>
      <h2><%= event["organisation"] %></h2>
    <% end %>

    <% @events.map do | event | %>
      <h2><%= event["date"] %></h2>
    <% end %>

    <% @events.map do | event | %>
      <h2><%= event["place"] %></h2>
    <% end %>

   <ol>
      <li><p><b>Inspiring Women in Technology at Accenture</b><em> 13th October, Durham</em><br>This exciting event is aimed at graduates interested in working with the most advanced technologies, to create winning solutions for clients across the globe. </br></p></li>

      <li><p><b>Women as Future Leaders (WFL) & Digital McKinsey invite you to "The Digital Future - Opportunity and Challenge?"</b><em> 17th November, London</em><br>If you're interested in tech and the changes digitization brings to businesses, then this is a chance to network and hear from experts in the field. We encourage women with at least 3 years of experience in digital or technology to attend this event. </br></p></li>

      <li><p><b>Silicon Milkroundabout</b> <em>26th November, London </em> <br>Silicon Milkroundabout is a jobs fair like no other. At our buzzing events you will meet with over 180 companies and chat directly with the founders, team leaders and actual people you would be working with about what jobs they have on offer. Perfect for developers, designers, product managers, marketers and more. </br></p></li>

      <li><p><b>Deutsche Bank: Technology Open House</b> <em> 30th November, London </em><br>Find out about the exciting technology projects at Deutsche Bank.</br></p></li>

   </ol>
</div>

</body>

</html>
